fuseki-data/

LALF/
new-fuseki-data/
QSC_*
*.log
*.zip

.DS_Store
venv/
__pycache__/
postgresql.jar
output/
QRT_20230315.gdb
QSC_Extracted_Data_20230509_124021395000-11104
addressdb/
oxigraph_data/
fuseki-import/
graphdb-import/
lalf-rdf/
pndb-rdf/
qrt-rdf/